<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UT TIME TABLE</title>
</head>
<body>
    <%include partials/header.ejs%>
    
   <form action="" method="post" id="submittoform" >

    <center><h1>  THE BELOW IS THE RECORDS OF UPCOMING UT EXAM DATES</h1> 
        <button type="submit" onclick="document.getElementById('submittoform').setAttribute('action','/update/time_table/ut');"> UPDATE</button></center>
    <br>
    <center>    
    
    <table >
            <tr>
                    <th rowspan="2">EXAM</th>
                    <th rowspan="2">DATE - OF - EXAM</th>
                    <th colspan="4" >NUMBER OF BLOCKS </th>
                         
            </tr>

            <tr>
                <th >Time-slot 1</th>
                <th >Time-slot 2</th>
                <th >Time-slot 3</th>
                <th >Time-slot 4</th>     
        </tr>
        
    <%if(data.length>0){%>

        <%for(var i=0;i<data.length;i++){%>

                <tr>
                     <td>  <%=data[i].exam%> </td>
                     <td><input type="text" name="exdate"  size="12" value="<%=data[i].exdate%>" readonly style="width: fit-content;border:0.2rem solid transparent; font-size:1rem;background-color:transparent;" > </td>  
                     <td><input type="text" name="blocks" size="4"  value="<%=data[i].blocks[0]%>" style="width: fit-content;border:0.2rem solid transparent; font-size:1rem; border:1px solid rgb(165, 207, 231)" >  </td>   
                     <td><input type="text" name="blocks" size="4" value="<%=data[i].blocks[1]%>" style="width: fit-content;border:0.2rem solid transparent; font-size:1rem; border:1px solid rgb(165, 207, 231);" >  </td>
                     <td><input type="text" name="blocks" size="4" value="<%=data[i].blocks[2]%>" style="width: fit-content;border:0.2rem solid transparent; font-size:1rem; border:1px solid rgb(165, 207, 231);" >  </td>
                     <td><input type="text" name="blocks" size="4" value="<%=data[i].blocks[3]%>" style="width: fit-content;border:0.2rem solid transparent; font-size:1rem; border:1px solid  rgb(165, 207, 231);" >  </td>

                </tr>
             
            <%};%>
        <%};%>

    </table>
   
</center>
  
    <br>
    
</form>        
    
    <link rel="stylesheet" href="../assets/css/display_tt.css">
</body>
</html>