<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REQUIREMENTS</title>
</head>
<body>
    
    <div class="nav" >
                   <button>PROFESSORS</button> 
                  <button>ASSISTANTS-PROFESSORS</button> 
                  <button>ASSOCIATIVE-PROFESSORS</button> 
            
            
    </div>
    <br>
    <!--TO DISPLAY PROFESORS FOR PDF-->  
        <center>  <h1>THIS IS FOR PROFESSORS</h1> </center>
    <%
            for(var i=0;i<professors.length;i++){  
                  var date=[];var shift=[];  
                  
                for(var j=0;j<selections.length;j++){
                    if(professors[i].SDRN==selections[j].SDRN) {
                            date.push(selections[j].date_of_exam);
                            
                            if(selections[j].type=="")  shift.push("BUFFER");
                            else shift.push(selections[j].type)

                    }

                } %>
        <div class="box">
                <caption> SDRN:<%=professors[i].SDRN%>   
                     Name:<%=professors[i].UNAME%> </caption>
                <br><br>
            <table id="tt">
                 
                <tr>
                    <th>DATE</th>
                   <td >
                <% for(var k = 0 ; k<date.length ; k++  ){ %>
                            <%=date[k]%>
                       <%};%>
                    </td>

                </tr>

                <tr>
                    <th>SHIFT</th>
                    <td>
                            <% for(var k = 0 ; k<shift.length ; k++  ){ %>
                                        <%=shift[k]%>
                                   <%};%>
                    </td>
                </tr>

            </table> <br><br>
           <div class="one">
               HOD Sign
           </div>
           <div class="one">
                Principal Sign
            </div><br>
        </div>
            <br>
           <div class="dashed"><i class="fa fa-scissors" aria-hidden="true"></i></div>

            <br>
            <%}%>

            <!--TO DISPLAY ASSISTANT PROFESORS FOR PDF-->

            <center>  <h1>THIS IS FOR ASSISTANTS-PROFESSORS</h1> </center>

        <%
            for(var i=0;i<assistants.length;i++){  
                  var date=[];var shift=[];  
                  
                for(var j=0;j<selections.length;j++){
                    if(assistants[i].SDRN==selections[j].SDRN) {
                            date.push(selections[j].date_of_exam);
                            
                            if(selections[j].type=="")  shift.push("BUFFER");
                            else shift.push(selections[j].type)

                    }

                } %>
                <div class="box">
                <caption> SDRN:<%=assistants[i].SDRN%>    Name:<%=assistants[i].UNAME%> </caption>
                <br><br>
            <table id="tt">
                <tr>
                    <th>DATE</th>
                   
                <% for(var k = 0 ; k<date.length ; k++  ){ %>
                           <td> <%=date[k]%></td>
                       <%};%>
                    

                </tr>

                <tr>
                    <th>SHIFT</th>
                        <% for(var k = 0 ; k<shift.length ; k++  ){ %>
                                      <td>  <%=shift[k]%></td>
                                   <%};%>
                    
                </tr>

            </table>    

            <br>
            
           <div class="one">
               HOD Sign:
           </div><br>
        </div>
            <br>
            <div class="dashed"><i class="fa fa-scissors" aria-hidden="true"></i></div>
            <br>
            
            <%}%>

            <!--TO DISPLAY ASSOCIATIVE PROFESSORS-->

            <center>  <h1>THIS IS FOR ASSOCIATIVE-PROFESSORS</h1> </center>
        <%
            for(var i=0;i<associates.length;i++){  
                  var date=[];var shift=[];  
                  
                for(var j=0;j<selections.length;j++){
                    if(associates[i].SDRN==selections[j].SDRN) {
                            date.push(selections[j].date_of_exam);
                            
                            if(selections[j].type=="")  shift.push("BUFFER");
                            else shift.push(selections[j].type)

                    }

                } %>
                <div class="box">
                <caption>SDRN:<%=associates[i].SDRN%>   Name:<%=associates[i].UNAME%> </caption>
                <br><br>
            <table id="tt">
                <tr>

                    <th>DATE</th>
                   
                <% for(var k = 0 ; k<date.length ; k++  ){ %>
                            <td><%=date[k]%></td>
                       <%};%>

                </tr>

                <tr>
                    <th>SHIFT</th>

                    
                            <% for(var k = 0 ; k<shift.length ; k++  ){ %>
                                       <td> <%=shift[k]%></td>
                                   <%};%>
            


                </tr>

            </table>    

            <br>
            <br>
            
           <div class="one">
               HOD Sign:
           </div><br>
        </div>
            <br>
            <div class="dashed"><i class="fa fa-scissors" aria-hidden="true"></i></div>
            <br>
            
            
            <%}%>













</body>
   <link rel="stylesheet" href="/assets/css/requirement.css">
</html>
